* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}

#screen {
  width: 100%;
  display: flex;
  background-color: black;
}

#left {
  width: 26.5%;
  height: 900px;
  /* border: 1px solid rgb(91, 89, 89); */
  background-color: black;
  color: white;
  position: fixed;
  top: 0;
}

#left > div:nth-child(1) > i {
  margin-top: 10px;
  margin-left: 150px;
  /* border: 1px solid rgb(91, 89, 89); */
  border-radius: 50px;
  width: 50px;
  height: 30px;
  text-align: center;
  padding-top: 23px;
}

#left > div:nth-child(1) > i:hover {
  background-color: #202327;
}

#left > div:nth-child(2) > div {
  display: flex;
  width: 190px;
  height: 45px;
  /* border: 1px solid rgb(91, 89, 89); */
  border-radius: 50px;
  font-size: 20px;
  font-weight: 600;
  align-items: center;
  margin-top: 13px;
  margin-left: 125px;
}

#left > div:nth-child(2) > div > i {
  margin-left: 25px;
  margin-right: 11px;
}

#left > div:nth-child(2) > div>p>a{
  text-decoration: none;
  color: white;
}

#left > div:nth-child(2) > div:hover {
  background-color: #202327;
}

#left > div:nth-child(3) > button {
  border: 1px solid #202327;
  width: 240px;
  height: 52px;
  margin-left: 130px;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  border-radius: 50px;
  margin-top: 15px;
  background-color: #1d9bf0;
  color: white;
  border: 1px solid #1d9bf0;
}

#left > div:nth-child(4) {
  width: 250px;
  height: 55px;
  /* border: 1px solid #202327; */
  border-radius: 50px;
  display: flex;
  margin-left: 120px;
  margin-top: 25px;
}

#left > div:nth-child(4) > img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-left: 8px;
  margin-top: 2px;
}

#left > div:nth-child(4) > span {
  margin-left: 7px;
  margin-top: 3px;
}

#left > div:nth-child(4) > i {
  margin-top: 20px;
  margin-left: 60px;
}

#left > div:nth-child(4):hover {
  background-color: #202327;
}

#bet {
  width: 39.5%;
  border: 1px solid rgb(91, 89, 89);
  margin-left: 26.5%;
  background-color: black;
  color: white;
}

#navbar {
  width: 39.5%;
  height: 107px;
  /* border: 1px solid red; */
  font-weight: 600;
  position: fixed;
  top: 0;
  background-color: black;
  color: white;
  border-bottom: 1px solid rgb(91, 89, 89);
}

#navbar>div:nth-child(1){
    display: flex;
    justify-content: space-between;
}

#navbar>div:nth-child(1)>div{
    width: 500px;
    height: 40px;
    border:1px solid #202327;
    border-radius: 50px;
    background-color: #202327;
    align-items: center;
    margin-top: 5px;
    margin-left: 20px;
}

#navbar>div:nth-child(1)>div>input{
    border: none;
    outline: none;
    background-color: #202327;
    color: #676c71;
    margin-left: 20px;
    font-size: 16px;
}

#navbar>div:nth-child(1)>div>i{
    color: #676c71;
    margin-top: 10px;
    margin-left: 20px;
}

#navbar>div:nth-child(1)>i{
    margin-right: 20px;
    margin-top: 20px;
}

#navbar>div:nth-child(2){
    margin-top: 20px; 
    text-decoration: none
}

#navbar>div:nth-child(2)>span>a{
    margin-left: 25px;
    margin-right: 25px;
    text-decoration: none;
    color: white;
}


#content{
    margin-top: 107px;
    margin-left: 15px;
    margin-right: 15px;
    line-height: 25px;
}

#content>div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#content>div>span>p{
    font-size: 13px;
    color: #676c71;
}

#right {
  /* width: 22%; */
  /* height: 287px; */
  border: 1px solid  #202327;
  border-radius: 15px;
  margin-left: px;
  margin-top: 10px;
  position: fixed;
  top: 0;
  margin-left: 68%;
  background-color: #202327;
  color: white;
}

#right > div>p{
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
    margin-left: 15px;
}

#right > div>div{
    width: 335px;
    height: 260px;
    border-radius: 10px;
   
}

#right > div>div>div {
    width: 100%;
    height: 55px;
    /* border: 1px solid #202327; */
    display: flex;
    /* margin-left: 12px; */
    margin-top: 25px;
  }
  
  #right > div>div>div > img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-left: 8px;
    margin-top: 2px;
  }
  
  #right > div>div>div > span {
    margin-left: 7px;
    margin-top: 3px;
  }
  
  #right > div>div>div > i {
    margin-top: 20px;
    margin-left: 60px;
  }

  #right > div>div>div > button {
    width: 90px;
    height: 35px;
    margin-left: 15px;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    border-radius: 50px;
    margin-top: 10px;
    background-color: white;
    color: black;
    border: 1px solid white;
  }
  
  #right > div>div>div:hover {
    background-color: #2a2c2f;
  }
